.star-rating {
  display: flex;
  justify-content: center;
}

.star-rating button {
  background: none;
  border: none;
  cursor: pointer;
}

.star-rating .on {
  color: gold;
}

.star-rating .off {
  color: #ccc;
}
